.utLogo {
    width: 140px;
}

.glasses {
    width: 70px;
    padding-top: 10px;
    padding-right: 10px;
}

.mainHeading {
    color: white;
    font-weight: 500;
}

.customNav {
    background-color: #F77F00;
}

.login {
    all: unset;
    cursor: pointer;
}

.logoutLink {
    text-decoration: none;
    padding-top: 10px;
}

.navLinks {
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding-right: 10px;
}

.userImg {
    width: 30px;
    padding-right: 5px;
}